/* .input_colors input[disabled]{
    color: #FF0000
} */

input, textarea, select {
    color: #0037ad !important;
}

input[disabled], textarea[disabled], select[disabled]{
    color: #23282c !important;
}

.MuiSwitch-root .Mui-disabled.Mui-checked  .MuiSwitch-thumb{
    color: #00b953 !important;
}
.Mui-disabled.MuiSwitch-colorPrimary.Mui-checked + .MuiSwitch-track {
    background-color: #00b953 !important;
}